.tm-article-body {
  border: 1px solid rgb(66, 64, 64);
  padding: 0.8rem;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: rgb(44, 42, 42);
}
.tm-article-comments,
.tm-article-delete {
  padding: 0.5rem;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: rgb(44, 42, 42);
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
.tm-article-delete {
  font-weight: normal;
  text-align: center;
  margin-top: 2.5rem;
}
.tm-comment-div {
  margin-bottom: 2.5rem;
}
.tm-comment {
  height: 4rem;
}
.tm-comment-author {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.tm-comment-details {
  color: rgb(255, 0, 179);
}
.tm-details {
  font-size: 1.2rem;
}
.tm-article-details {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .tm-article-details {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .tm-article-body {
    width: 70%;
    margin-bottom: 2rem;
  }
}
