.tm-form small {
  display: none;
  color: red;
}
.tm-form span {
  color: red;
}
.tm-form input:focus {
  border: none;
}
.tm-error-info {
  width: 100%;
  font-family: Lato, sans-serif;
  color: rgb(39, 37, 37);
  text-align: center;
  box-shadow: 0 0.5rem 0.6rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1.625rem;
  padding: 0.6rem;
  box-sizing: border-box;
  margin-top: 2.5rem;
}
.tm-error-info h1 {
  font-size: 3rem;
}
.tm-error-info a,
.tm-error-home a {
  color: rgb(255, 0, 221);
}
.tm-error-home {
  padding: 0.5rem;
  text-align: center;
  font-family: Lato, sans-serif;
  color: rgb(44, 42, 42);
}
.tm-err-msg {
  color: rgb(206, 45, 45);
  font-weight: bold;
}
.tm-error-class,
.tm-success-class {
  position: relative;
  background-color: rgb(206, 45, 45);
  padding: 0.625rem;
  color: white;
  font-size: 1.1rem;
  box-sizing: border-box;
  margin-top: 0.625rem;
  border-radius: 0.6rem;
  text-align: center;
}
.tm-success-class {
  background-color: rgb(28, 189, 28);
}
.tm-form input,
.tm-form select,
.tm-form select option,
.tm-form textarea {
  padding: 0.625rem 0.5rem;
  margin-top: 0.2rem;
  border: 0.015rem solid rgb(56, 59, 56);
}
.tm-form {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  margin-bottom: 2rem;
}
.tm-form label {
  margin-top: 1.25rem;
}
@media (min-width: 768px) {
  .tm-form {
    padding: 20px;
  }
  .tm-form-container {
    width: 25rem;
    margin: auto;
  }
}
